@import url('tailwindcss');

@config "../../tailwind.config.js";

@plugin "@tailwindcss/typography";

@theme {
  /* 文字颜色 */
  --color-primary: var(--primaryColor);
  --color-primaryHover: var(--primaryColorHover);
  --color-primaryPressed: var(--primaryColorPressed);
  --color-primarySuppl: var(--primaryColorSuppl);
  --color-info: var(--infoColor);
  --color-infoHover: var(--infoColorHover);
  --color-infoPressed: var(--infoColorPressed);
  --color-infoSuppl: var(--infoColorSuppl);
  --color-success: var(--successColor);
  --color-successHover: var(--successColorHover);
  --color-successPressed: var(--successColorPressed);
  --color-successSuppl: var(--successColorSuppl);
  --color-warning: var(--warningColor);
  --color-warningHover: var(--warningColorHover);
  --color-warningPressed: var(--warningColorPressed);
  --color-warningSuppl: var(--warningColorSuppl);
  --color-error: var(--errorColor);
  --color-errorHover: var(--errorColorHover);
  --color-errorPressed: var(--color-errorPressed);
  --color-errorSuppl: var(--color-errorSuppl);

  /* 背景颜色 */
  --color-vPageBgColor: #fff;
  --color-vPageBgDarkColor: rgb(24 24 28);
  --color-vHeaderBgColor: #f3f4f6;
  --color-vHeaderBgDarkColor: rgb(24 24 28);

  /* 边框颜色 */
  --color-vBorderLight: rgb(239 239 245);
  --color-vBorderDark: rgb(255 255 255 / 10%);
}

@layer base {
  h1 {
    font-weight: bold;
    font-size: 2em;
  }

  h2 {
    font-weight: bold;
    font-size: 1.5em;
  }

  h3 {
    font-weight: bold;
    font-size: 0.875em;
  }

  h4 {
    font-weight: bold;
  }

  h5 {
    font-weight: bold;
    font-size: 0.83em;
  }
}
